[v-cloak] {
  display: none;
}
.next-prev-button-style-mobile,
.owl-nav .owl-prev .left {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
}
@media only screen and (min-width: 641px) {
  .next-prev-button-style-mobile,
  .owl-nav .owl-prev .left {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
.next-prev-button-style-desktop {
  position: relative;
  text-indent: initial;
  background: none;
  overflow: initial;
  padding: 10px 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #276696;
  border-radius: 2px;
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}
.noPad {
  padding: 0;
}
.hide {
  display: block;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}
.title {
  color: #ffffff;
  margin-bottom: 10px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.d-inline-block {
  display: inline-block !important;
}
.flex-display {
  display: flex;
  width: 100%;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.align-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.position-sticky {
  position: -webkit-sticky;
  position: sticky;
}
ul li {
  list-style-type: none;
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar {
  background: #000;
  width: 100%;
  margin: 0;
}
.navbar .headerNav {
  position: relative;
}
.navbar .navbar-brand {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
}
.navbar .navbar-brand:hover {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand {
    position: relative;
    float: left;
    left: 0%;
  }
}
.navbar .navbar-toggle {
  position: absolute;
  left: 10px;
}
.navbar .miniCart {
  color: #fff;
  height: 30px;
  margin-top: 20px;
  width: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.navbar .miniCart a {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.navbar .miniCart a:hover {
  text-decoration: none;
}
.navbar .miniCart .price {
  margin-right: 2px;
}
ul.nav li a {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
ul.nav li a:hover {
  color: #000;
  background-color: #fff;
}
ul.nav li a.active {
  color: #000;
  background-color: #fff;
}
.site-header {
  width: 100%;
  background-color: #eaeee7;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
}
.site-header__title {
  font-size: 1.5em;
  color: #276696;
}
.site-header__my-details {
  font-size: 1em;
  line-height: 1.5em;
  color: #276696;
}
.owl-item__picture {
  min-width: auto;
  min-height: auto;
}
@media only screen and (min-width: 1400px) {
  .owl-item__picture {
    min-width: 240px;
    min-height: 120px;
    max-width: 240px;
    max-height: 120px;
    display: flex;
  }
}
.owl-item__title {
  color: #276696;
}
.owl-nav .owl-next .right {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
  right: 0;
  background-position: 10px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-next .right {
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-next .right:before {
    content: "Next";
  }
}
.owl-nav .owl-prev .left {
  left: 0;
  background-position: 10px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  overflow: hidden;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-prev .left {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-prev .left {
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-prev .left:before {
    content: "Prev";
  }
}
.hompepage-carousel {
  display: flex;
  margin-top: 10px;
}
.plp-facets__types {
  width: 100%;
  float: left;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
}
.plp-facets--option-label {
  margin-left: 15px;
}
.plp-facets--title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px 10px 0;
}
.plp-products {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.plp-products__pagination {
  margin: 0 0 20px 0;
  float: left;
  padding: 10px;
}
.plp-products__now-price {
  font-weight: bold;
  margin-right: 10px;
}
.plp-products__was-price {
  font-weight: bold;
  margin-right: 10px;
  color: red;
}
.plp-products__was-price i {
  text-decoration: line-through;
}
.plp-products__add-basket {
  text-align: center;
  margin: 10px 0;
  width: 100%;
  float: left;
}
.plp-products--add-basket-btn {
  padding: 10px 30px;
}
.plp-products__price {
  width: 100%;
  float: left;
  text-align: center;
}
.plp-products__sort-by {
  width: 200px;
  padding: 10px;
  margin-left: 20px;
}
.plp-products__name {
  float: left;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 1.2em;
}
.plp-products__product {
  float: left;
  width: 100%;
  height: auto;
  margin: 0 10px 20px 0;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px;
  -webkit-box-shadow: 2px 5px 11px -1px #807c80;
  -moz-box-shadow: 2px 5px 11px -1px #807c80;
  box-shadow: 2px 5px 11px -1px #807c80;
}
.plp-products__img-container {
  margin: 0 auto;
  max-width: 280px;
  max-height: 280px;
  min-width: 280px;
}
@media only screen and (min-width: 1400px) {
  .plp-products__img-container {
    max-width: 310px;
    max-height: 310px;
    min-width: 310px;
  }
}
.plp-products__img-container--link {
  float: left;
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
}
@media only screen and (min-width: 1400px) {
  .plp-products__img-container--link {
    max-width: 310px;
    max-height: 310px;
  }
}
.plp-products__img {
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
.plp-products__roundel-product {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
}
.plp-products_list:nth-child(3n+1) {
  clear: both;
}
.banner-content {
  background: #294057;
  float: left;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
.banner-content__desc {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 14px;
}
.mini-basket {
  position: absolute;
  right: 0;
  top: 12px;
  color: #fff;
  margin-right: 20px;
}
@media screen and (min-width: 1400px) {
  .mini-basket {
    margin-right: 0;
  }
}
.mini-basket__trolly {
  font-size: 1.8em;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}
.mini-basket__trolly:hover {
  text-decoration: none;
  color: #fff;
}
.mini-basket__circle {
  border-radius: 50%;
  background-color: red;
  padding: 4px 10px;
  float: right;
  color: #fff;
}
.popover {
  width: 360px;
  max-width: 360px !important;
}
.popover-content {
  width: 360px !important;
  padding: 5px;
  color: #000;
  box-sizing: border-box;
}
.mini-cart {
  display: flex;
  flex-wrap: nowrap;
  font-weight: bold;
  text-align: center;
  width: 350px;
  flex-direction: column;
}
.mini-cart__title {
  display: flex;
  margin: 5px 0;
}
.mini-cart__order-list {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}
.mini-cart__image-article {
  text-align: left;
  padding: 0;
  box-sizing: border-box;
  width: 180px;
  height: 90px;
}
@media all and (min-width: 800px) {
  .mini-cart__image-article {
    order: 1;
    -webkit-order: 1;
  }
}
.mini-cart__thumb-image {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
}
.mini-cart__name {
  display: flex;
  text-align: left;
  text-decoration: none;
  color: #000;
}
.mini-cart__name:hover {
  text-decoration: none;
  color: #000;
}
.mini-cart__qty {
  display: flex;
  text-align: left;
}
.mini-cart__details {
  margin-left: 5px;
  padding: 3px;
  box-sizing: border-box;
  width: 50%;
}
@media all and (min-width: 800px) {
  .mini-cart__details {
    order: 2;
    -webkit-order: 2;
  }
}
.mini-cart__price,
.mini-cart__was-price {
  float: left;
  width: 100%;
  text-align: right;
  padding-right: 5px;
}
.mini-cart__was-price {
  opacity: 0.5;
}
.mini-cart__total {
  text-align: right;
  padding: 10px;
  font-size: 1.1em;
}
.mini-cart__checkout-button {
  margin: 10px auto;
  width: auto;
  padding: 6px 30px;
  font-size: 1.4em;
}
.basket-products {
  border: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}
.basket-products__topBtn {
  margin: 10px 0;
}
.basket-page {
  width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
}
.cart__content {
  width: 100%;
  margin: 2rem auto;
}
@media only screen and (min-width: 1400px) {
  .cart__content {
    width: 1400px;
  }
}
.cart__content-products {
  padding-right: 20px;
}
.cart__content__header {
  display: flex;
  width: 100%;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 1.6rem;
}
.cart__content__header h1 {
  margin: 0 .5rem 0 0;
}
.cart__content__header span {
  color: grey;
}
.cart__summary-section {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  margin-top: 4rem;
  display: inline-block;
  width: 100%;
}
.cart__summary__content {
  margin-top: 0;
  padding: 12px 12px 20px 14px;
  border: 1px solid #e8e5e1;
  background-color: #ecf3f5;
  border-radius: 3px 3px 0 0;
  line-height: 1.6;
}
.cart__summary__total {
  margin-top: 9px;
  padding-top: 6px;
  border-top: 1px solid #e8e5e1;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
}
.cart__summary__vat {
  margin-top: 22px;
}
.cart__summary__flexLayout {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.product-row {
  display: flex;
  width: 100%;
  background-color: #ecf3f5;
  padding: 3px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.product-row--cart-page {
  padding: 10px 0;
  border-bottom: 1px solid #e8e5e1;
}
.product-row__product {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.product-row__remove-product {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin-right: 20px;
}
.product-row__image {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.product-row__content {
  margin-left: 3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 2rem;
  padding: 0 10px;
}
.product-row__col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  padding-bottom: 0;
}
.product-row__desc {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-bottom: 0;
}
.product-row__name {
  font-weight: 400;
}
.product-row__amounts {
  padding-bottom: 0;
  padding-right: 0;
  margin-left: 2rem;
  -webkit-flex-basis: 15rem;
  -ms-flex-preferred-size: 15rem;
  flex-basis: 15rem;
  min-height: 10.1rem;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.product-row__price-display {
  text-align: right;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: inherit;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.product-row__amounts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.product-row--cart-page .product-row__price,
.product-row--order-history .product-row__price,
.product-row--order-review .product-row__price {
  -webkit-flex-basis: 160px;
  -webkit-flex-basis: 16rem;
  -ms-flex-preferred-size: 160px;
  -ms-flex-preferred-size: 16rem;
  flex-basis: 160px;
  flex-basis: 16rem;
}
.product-row__price {
  vertical-align: initial;
  margin-right: 0;
  line-height: normal;
  font-size: 1.6rem;
}
.product-row__quantity {
  text-align: center;
  position: relative;
}
.basket-form-control {
  height: 4rem;
  font-weight: 300;
  padding: .6rem 1.2rem;
  border-top-width: 2px;
  font-size: 1.6rem;
  line-height: 1.43;
  color: #303030;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b8b2ae;
  border-radius: .3rem;
  transition: border-color 0.15s ease-in-out, border-width 0.15s ease-in-out;
}
.input-width--xsmall {
  text-align: center;
  width: 5rem;
  padding-left: 0;
  padding-right: 0;
}
.product-row__image a,
.product-row__image img {
  max-width: 10rem;
}
