[v-cloak] {
  display: none;
}
.next-prev-button-style-mobile,
.owl-nav .owl-prev .left {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
}
@media only screen and (min-width: 641px) {
  .next-prev-button-style-mobile,
  .owl-nav .owl-prev .left {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
.next-prev-button-style-desktop {
  position: relative;
  text-indent: initial;
  background: none;
  overflow: initial;
  padding: 10px 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #276696;
  border-radius: 2px;
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}
.noPad {
  padding: 0;
}
.hide {
  display: block;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}
.title {
  color: #ffffff;
  margin-bottom: 10px;
}
ul li {
  list-style-type: none;
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar {
  background: #000;
  width: 100%;
  margin: 0;
}
.navbar .headerNav {
  position: relative;
}
.navbar .navbar-brand {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  left: 30%;
}
.navbar .navbar-brand:hover {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand {
    left: 0%;
  }
}
.navbar .navbar-toggle {
  float: left;
  margin-left: 15px;
}
.navbar .miniCart {
  color: #fff;
  height: 30px;
  margin-top: 20px;
  width: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.navbar .miniCart a {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.navbar .miniCart a:hover {
  text-decoration: none;
}
.navbar .miniCart .price {
  margin-right: 2px;
}
ul.nav li a {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
ul.nav li a:hover {
  color: #000;
  background-color: #fff;
}
ul.nav li a.active {
  color: #000;
  background-color: #fff;
}
.site-header {
  width: 100%;
  background-color: #eaeee7;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
}
.site-header__title {
  font-size: 1.5em;
  color: #276696;
}
.site-header__my-details {
  font-size: 1em;
  line-height: 1.5em;
  color: #276696;
}
.owl-item__picture {
  min-width: auto;
  min-height: auto;
}
@media only screen and (min-width: 1400px) {
  .owl-item__picture {
    min-width: 240px;
    min-height: 120px;
    max-width: 240px;
    max-height: 120px;
    display: flex;
  }
}
.owl-item__title {
  color: #276696;
}
.owl-nav .owl-next .right {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
  right: 0;
  background-position: 10px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-next .right {
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-next .right:before {
    content: "Next";
  }
}
.owl-nav .owl-prev .left {
  left: 0;
  background-position: 10px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  overflow: hidden;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-prev .left {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-prev .left {
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-prev .left:before {
    content: "Prev";
  }
}
.hompepage-carousel {
  display: flex;
  margin-top: 10px;
}
.plp-facets__types {
  width: 100%;
  float: left;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
}
.plp-facets--option-label {
  margin-left: 15px;
}
.plp-facets--title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px 10px 0;
}
.plp-products {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.plp-products__pagination {
  margin: 0 0 20px 0;
  float: left;
  padding: 10px;
}
.plp-products__now-price {
  font-weight: bold;
  margin-right: 10px;
}
.plp-products__was-price {
  font-weight: bold;
  margin-right: 10px;
  color: red;
}
.plp-products__was-price i {
  text-decoration: line-through;
}
.plp-products__add-basket {
  text-align: center;
  margin: 10px 0;
  width: 100%;
  float: left;
}
.plp-products--add-basket-btn {
  padding: 10px 30px;
}
.plp-products__price {
  width: 100%;
  float: left;
  text-align: center;
}
.plp-products__sort-by {
  width: 200px;
  padding: 10px;
  margin-left: 20px;
}
.plp-products__name {
  float: left;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 1.2em;
}
.plp-products__product {
  float: left;
  width: 100%;
  height: auto;
  margin: 0 10px 20px 0;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px;
  -webkit-box-shadow: 2px 5px 11px -1px #807c80;
  -moz-box-shadow: 2px 5px 11px -1px #807c80;
  box-shadow: 2px 5px 11px -1px #807c80;
}
.plp-products__img-container {
  margin: 0 auto;
  max-width: 280px;
  max-height: 280px;
  min-width: 280px;
}
@media only screen and (min-width: 1400px) {
  .plp-products__img-container {
    max-width: 310px;
    max-height: 310px;
    min-width: 310px;
  }
}
.plp-products__img-container--link {
  float: left;
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
}
@media only screen and (min-width: 1400px) {
  .plp-products__img-container--link {
    max-width: 310px;
    max-height: 310px;
  }
}
.plp-products__img {
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
.plp-products__roundel-product {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
}
.plp-products_list:nth-child(3n+1) {
  clear: both;
}
.banner-content {
  background: #294057;
  float: left;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
.banner-content__desc {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 14px;
}
.mini-basket {
  position: absolute;
  right: 0;
  top: 12px;
  color: #fff;
  margin-right: 20px;
}
@media screen and (min-width: 1400px) {
  .mini-basket {
    margin-right: 0;
  }
}
.mini-basket__trolly {
  font-size: 1.8em;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}
.mini-basket__trolly:hover {
  text-decoration: none;
  color: #fff;
}
.mini-basket__circle {
  border-radius: 50%;
  background-color: red;
  padding: 4px 10px;
  float: right;
  color: #fff;
}
.popover {
  width: 360px;
  max-width: 360px !important;
}
.popover-content {
  width: 360px !important;
  padding: 5px;
  color: #000;
  box-sizing: border-box;
}
.mini-cart {
  display: flex;
  flex-wrap: nowrap;
  font-weight: bold;
  text-align: center;
  width: 350px;
  flex-direction: column;
}
.mini-cart__title {
  display: flex;
  margin: 5px 0;
}
.mini-cart__order-list {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}
.mini-cart__image-article {
  text-align: left;
  padding: 0;
  box-sizing: border-box;
  width: 180px;
  height: 90px;
}
@media all and (min-width: 800px) {
  .mini-cart__image-article {
    order: 1;
    -webkit-order: 1;
  }
}
.mini-cart__thumb-image {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
}
.mini-cart__name {
  display: flex;
  text-align: left;
  text-decoration: none;
  color: #000;
}
.mini-cart__name:hover {
  text-decoration: none;
  color: #000;
}
.mini-cart__qty {
  display: flex;
  text-align: left;
}
.mini-cart__details {
  margin-left: 5px;
  padding: 3px;
  box-sizing: border-box;
  width: 50%;
}
@media all and (min-width: 800px) {
  .mini-cart__details {
    order: 2;
    -webkit-order: 2;
  }
}
.mini-cart__price,
.mini-cart__was-price {
  float: left;
  width: 100%;
  text-align: right;
  padding-right: 5px;
}
.mini-cart__was-price {
  opacity: 0.5;
}
.mini-cart__total {
  text-align: right;
  padding: 10px;
  font-size: 1.1em;
}
.mini-cart__checkout-button {
  margin: 10px auto;
  width: auto;
  padding: 6px 30px;
  font-size: 1.4em;
}
