.next-prev-button-style-mobile,
.owl-nav .owl-prev .left {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
}
@media only screen and (min-width: 641px) {
  .next-prev-button-style-mobile,
  .owl-nav .owl-prev .left {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
.next-prev-button-style-desktop {
  position: relative;
  text-indent: initial;
  background: none;
  overflow: initial;
  padding: 10px 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #276696;
  border-radius: 2px;
  width: 100%;
  height: auto;
}
ul li {
  list-style-type: none;
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}
.bs-docs-nav .navbar-toggle:focus {
  background-color: #fff;
}
.bs-docs-nav:hover .icon-bar {
  background-color: #000;
}
.bs-docs-nav:focus {
  background-color: #fff;
}
.navbar {
  background: #000;
  width: 100%;
  margin-bottom: 20px;
}
.navbar .headerNav {
  position: relative;
}
.navbar .navbar-brand {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.navbar .navbar-brand:hover {
  color: #fff;
}
.navbar .assesmentHeading span {
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  display: block;
}
.navbar .assesmentHeading span.name {
  font-size: 14px;
}
.navbar .assesmentHeading .logo {
  float: left;
}
.navbar .assesmentHeading .name {
  float: right;
}
.navbar .miniCart {
  color: #fff;
  height: 30px;
  margin-top: 20px;
  width: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.navbar .miniCart a {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.navbar .miniCart a:hover {
  text-decoration: none;
}
.navbar .miniCart .price {
  margin-right: 2px;
}
ul.nav li a {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
ul.nav li a:hover {
  color: #000;
  background-color: #fff;
}
ul.nav li a.active {
  color: #000;
  background-color: #fff;
}
.site-header {
  width: 100%;
  background-color: #eaeee7;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
}
.site-header__title {
  font-size: 1.5em;
  color: #276696;
}
.site-header__my-details {
  font-size: 1em;
  line-height: 1.5em;
  color: #276696;
}
.owl-item__picture {
  min-width: auto;
  min-height: auto;
}
@media only screen and (min-width: 1400px) {
  .owl-item__picture {
    min-width: 240px;
    min-height: 120px;
    max-width: 240px;
    max-height: 120px;
    display: flex;
  }
}
.owl-item__title {
  color: #276696;
}
.owl-nav .owl-next .right {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
  right: 0;
  background-position: 10px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-next .right {
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-next .right:before {
    content: "Next";
  }
}
.owl-nav .owl-prev .left {
  left: 0;
  background-position: 10px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  overflow: hidden;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-prev .left {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-prev .left {
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-prev .left:before {
    content: "Prev";
  }
}
.PLP-page h2 {
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}
.PLP-page .facetNavigation .facet {
  border: 1px solid #999999;
  min-height: 200px;
}
.PLP-page .paginationBar {
  margin: 10px 0px;
  min-height: 30px;
  background-color: #ccc;
}
.PLP-page .paginationBar .title {
  float: left;
  padding: 5px 0px 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.PLP-page .productList {
  border: 2px solid #000;
  min-height: 380px;
  padding: 2px;
  float: left;
}
.PLP-page .productList .product .product-data {
  background-color: #ccc;
  min-height: 180px;
}
.PLP-page .productList .product .product-data .thumb {
  padding: 5px;
  margin-top: 4px;
}
.PLP-page .productList .product .product-data .details {
  margin-top: 5px;
}
.PLP-page .productList .product .product-data .details li {
  float: left;
  width: 100%;
}
.PLP-page .productList .product .product-data .details li .outofstock {
  font-size: 14px;
  font-weight: bold;
  color: #ea1024;
}
.PLP-page .productList .product .product-data .details li span.code {
  font-weight: bold;
  margin-bottom: 5px;
}
.PLP-page .productList .product .product-data .details li.name {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}
.PLP-page .productList .product .product-data .details li a {
  text-decaration: none;
  color: #000;
}
.PLP-page .productList .product .product-data .details li a:hover {
  text-decoration: none;
}
.PLP-page .productList .product .product-data .details li.price {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 5px;
}
.PLP-page .productList .product .product-data .details li.price .was {
  margin-right: 5px;
  color: #ea1024;
  text-decoration: line-through;
}
.PLP-page .productList .product .product-data .details li.inputs {
  margin: 5px 0px;
}
.PLP-page .productList .product .product-data .details li.inputs input.qty {
  width: 39px;
  float: left;
  padding: 2px 5px;
  text-align: center;
}
.PLP-page .productList .product .product-data .details li.inputs button.btn {
  width: 90px;
  float: left;
  font-size: 12px;
  margin: 2px 0px 0px 10px;
  padding: 6px 5px;
}
.PLP-page .productList .product .product-data .details li.inputs span.errorMsg {
  color: #f60712;
  font-weight: bold;
  font-size: 12px;
  margin-top: 3px;
  float: left;
}
.plp-products {
  float: left;
  margin-top: 20px;
}
.plp-products__name {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.plp-products__product {
  float: left;
  width: 320px;
  height: auto;
  margin-bottom: 20px;
  position: relative;
}
.plp-products__img-container {
  float: left;
  width: 320px;
  max-height: 320px;
}
.plp-products__img-container--link {
  float: left;
  width: 320px;
  max-width: 320px;
  max-height: 320px;
  height: 320px;
}
.plp-products__img {
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
.roundelProduct {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 80px;
  height: 80px;
}
