.next-prev-button-style-mobile,
.owl-nav .owl-prev .left {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
}
@media only screen and (min-width: 641px) {
  .next-prev-button-style-mobile,
  .owl-nav .owl-prev .left {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
.next-prev-button-style-desktop {
  position: relative;
  text-indent: initial;
  background: none;
  overflow: initial;
  padding: 10px 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #276696;
  border-radius: 2px;
  width: 100%;
  height: auto;
}
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
ul li {
  list-style-type: none;
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}
.bs-docs-nav .navbar-toggle:focus {
  background-color: #fff;
}
.bs-docs-nav:hover .icon-bar {
  background-color: #000;
}
.bs-docs-nav:focus {
  background-color: #fff;
}
.navbar {
  background: #000;
  width: 100%;
  margin-bottom: 20px;
}
.navbar .headerNav {
  position: relative;
}
.navbar .navbar-brand {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.navbar .navbar-brand:hover {
  color: #fff;
}
.navbar .assesmentHeading span {
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  display: block;
}
.navbar .assesmentHeading span.name {
  font-size: 14px;
}
.navbar .assesmentHeading .logo {
  float: left;
}
.navbar .assesmentHeading .name {
  float: right;
}
.navbar .miniCart {
  color: #fff;
  height: 30px;
  margin-top: 20px;
  width: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.navbar .miniCart a {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.navbar .miniCart a:hover {
  text-decoration: none;
}
.navbar .miniCart .price {
  margin-right: 2px;
}
ul.nav li a {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
ul.nav li a:hover {
  color: #000;
  background-color: #fff;
}
ul.nav li a.active {
  color: #000;
  background-color: #fff;
}
.site-header {
  width: 100%;
  background-color: #eaeee7;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
}
.site-header__title {
  font-size: 1.5em;
  color: #276696;
}
.site-header__my-details {
  font-size: 1em;
  line-height: 1.5em;
  color: #276696;
}
.owl-item__picture {
  min-width: auto;
  min-height: auto;
}
@media only screen and (min-width: 1400px) {
  .owl-item__picture {
    min-width: 240px;
    min-height: 120px;
    max-width: 240px;
    max-height: 120px;
    display: flex;
  }
}
.owl-item__title {
  color: #276696;
}
.owl-nav .owl-next .right {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  top: 34%;
  background: url(../../images/arrow.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #a4d9c4;
  opacity: 0.8;
  right: 0;
  background-position: 10px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-size: 26px;
    width: 45px;
    height: 80px;
  }
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-next .right {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-next .right {
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-next .right:before {
    content: "Next";
  }
}
.owl-nav .owl-prev .left {
  left: 0;
  background-position: 10px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  overflow: hidden;
}
@media only screen and (min-width: 641px) {
  .owl-nav .owl-prev .left {
    background-position: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .owl-nav .owl-prev .left {
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
    position: relative;
    text-indent: initial;
    background: none;
    overflow: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #276696;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
  .owl-nav .owl-prev .left:before {
    content: "Prev";
  }
}
.plp-facets__types {
  width: 100%;
  float: left;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
}
.plp-facets--option-label {
  margin-left: 15px;
}
.plp-facets--title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px 10px 0;
}
.plp-products {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.plp-products__pagination {
  margin: 0 0 20px 0;
  float: left;
  padding: 10px;
}
.plp-products__now-price {
  font-weight: bold;
  margin-right: 10px;
}
.plp-products__was-price {
  font-weight: bold;
  margin-right: 10px;
  color: red;
}
.plp-products__was-price i {
  text-decoration: line-through;
}
.plp-products__price {
  width: 100%;
  float: left;
  text-align: center;
}
.plp-products__sort-by {
  width: 200px;
  padding: 10px;
}
.plp-products__name {
  float: left;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 1.2em;
}
.plp-products__product {
  float: left;
  width: 310px;
  height: auto;
  margin: 0 20px 20px 0;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px;
  -webkit-box-shadow: 2px 5px 11px -1px #807c80;
  -moz-box-shadow: 2px 5px 11px -1px #807c80;
  box-shadow: 2px 5px 11px -1px #807c80;
}
.plp-products__img-container {
  float: left;
  width: 298px;
  max-height: 298px;
}
.plp-products__img-container--link {
  float: left;
  width: 298px;
  max-width: 298px;
  max-height: 298px;
  height: 298px;
}
.plp-products__img {
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
.plp-products__roundel-product {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
}
